<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout :: head">
    <title>Danh sách Sản phẩm</title>
</head>
<body>
<h3>Danh sách Sản phẩm</h3>
<p><a th:href="@{/products/create}">Thêm sản phẩm mới</a></p>

<div class="notify" th:if="${success}">
    <span th:text="${success}"></span>
</div>

<form th:action="@{/products}" method="get">
    <input type="text" name="keyword" th:value="${keyword}" placeholder="Tìm kiếm theo tên...">
    <button type="submit">Tìm kiếm</button>
</form>

<table id="customers">
    <thead>
    <tr>
        <th>Tên sản phẩm</th>
        <th>Giá</th>
        <th>Mô tả</th>
        <th>Nhà sản xuất</th>
        <th colspan="3">Thao tác</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row : ${products}">
        <td th:text="${row.name}"></td>
        <td th:text="${#numbers.formatDecimal(row.price, 0, 'COMMA', 2, 'POINT')} + ' USD'"></td>
        <td th:text="${row.description}"></td>
        <td th:text="${row.manufacturer}"></td>
        <td><a th:href="@{/products/{id}/view(id=${row.id})}">Chi tiết</a></td>
        <td><a th:href="@{/products/{id}/update(id=${row.id})}">Cập nhật</a></td>
        <td><a th:href="@{/products/{id}/delete(id=${row.id})}">Xoá</a></td>
    </tr>
    </tbody>
</table>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>