<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thêm Bài hát Mới</title>
</head>
<body>
<h1>Thêm Bài hát Mới</h1>
<p>
    <a th:href="@{/songs}">Quay lại danh sách</a>
</p>

<div th:if="${message}" style="color: red;">
    <p th:text="${message}"></p>
</div>

<form th:action="@{/songs/create}" th:object="${songForm}" method="post" enctype="multipart/form-data">
    <table>
        <tr>
            <td>Tên Bài hát:</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td>Nghệ sĩ:</td>
            <td><input type="text" th:field="*{artist}"/></td>
        </tr>
        <tr>
            <td>Thể loại:</td>
            <td><input type="text" th:field="*{genre}"/></td>
        </tr>
        <tr>
            <td>Chọn File Nhạc (MP3):</td>
            <td><input type="file" th:field="*{file}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Lưu Bài hát"></td>
        </tr>
    </table>
</form>
</body>
</html>