<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tạo Blog</title>
</head>
<body>

<h2>Tạo Blog</h2>

<form th:action="@{/blogs/save}"
      th:object="${blog}"
      method="post">

    <label>Tiêu đề</label><br>
    <input type="text" th:field="*{title}" required/><br><br>

    <label>Nội dung</label><br>
    <textarea th:field="*{content}" rows="6" cols="50" required></textarea><br><br>

    <button type="submit">💾 Lưu</button>
</form>

</body>
</html>
